---
const title = "Update cnil - 2025-08-22"
const date = "2025-08-22"
---
<section class="container">
  <h1>{title}</h1>
  <p><em>{date}</em></p>
  <p>Contenu simul\u00e9 pour cnil \u00e0 2025-08-22T16:55:36.624671.</p>
  <p><a href="https://www.cnil.fr/fr/decisions#simulated" target="_blank" rel="noopener">Voir la source</a></p>
</section>
